$mobile-topbar-height: 48px;
$pc-topbar-height: 56px;

.wec-topbar {
    background-color: #fcfcfc;
    box-shadow: 0 4px 12px 0 rgba(233, 233, 233, .85);
    left: 0;
    min-width: 320px;
    padding: 0 8px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    .wec-topbar-wrapper {
        height: $mobile-topbar-height;

        &::before {
            content: '';
            display: table
        }
    }

    .wec-sidebar-trigger {
        float: left;
        height: $mobile-topbar-height;
        line-height: $mobile-topbar-height;

        i {
            font-size: 24px;
            padding: 0 16px 0 8px;
        }
    }

    .wec-topbar-logo {
        float: left;
        left: calc(50% - 70px);
        position: absolute;
        top: 0;

        a {
            display: inline-block;
            line-height: $mobile-topbar-height;

            img {
                height: 30px;
                vertical-align: middle;
            }
        }
    }

    .wec-breadcrumb {
        display: none;
        float: left;
        margin-left: 32px;
    }

    .wec-topbar-account {
        float: right;
        position: relative;

        .avatar {
            line-height: $mobile-topbar-height;

            img {
                border-radius: 4px;
                cursor: pointer;
                height: 30px;
                vertical-align: middle;
                width: 30px;
            }

            i {
                cursor: pointer;
            }
        }

        .wec-topbar-drop {
            background: #fff;
            border: 1px solid #e9e9e9;;
            border-radius: 4px;
            display: none;
            filter: drop-shadow(0 0 2px #e9e9e9);
            margin-top: 8px;
            padding: 5px 0;
            position: absolute;
            right: 0;
            top: 100%;
            width: 160px;

            .topbar-drop-header {
                color: #666;
                display: block;
                font-size: 14px;
                padding: 4px 16px;
            }

            .topbar-drop-divider {
                border-top: 1px solid #e9e9e9;
            }

            &::before {
                border: 8px solid transparent;
                border-bottom-color: #fff;
                content: '';
                display: block;
                position: absolute;
                right: 16px;
                top: -16px;
            }

            a {
                color: #666;
                display: block;
                font-size: 14px;
                padding: 4px 16px;

                &:hover {
                    background: #1779ba;
                    color: #fff;
                }
            }

            &.active {
                display: block;
            }
        }
    }

}

@media screen and (min-width: 60rem) {
    .wec-topbar {
        padding: 0 32px 0 16px;

        .wec-topbar-wrapper {
            height: $pc-topbar-height;
        }

        .wec-topbar-logo {
            position: relative;
            left: auto;

            a {
                line-height: $pc-topbar-height;

                img {
                    height: auto;
                }
            }
        }

        .wec-sidebar-trigger {
            height: $pc-topbar-height;
            line-height: $pc-topbar-height;

            i {
                display: none;
            }
        }

        .wec-breadcrumb {
            display: block;
            line-height: $pc-topbar-height;

            i {
                padding: 0 6px;
            }

            .last-piece {

                a {
                    color: #000;
                }

                i {
                    display: none;
                }
            }
        }

        .wec-topbar-account {
            .avatar {
                line-height: $pc-topbar-height;

                img {
                  height: 36px;
    	            width: 36px;
	              }
            }
        }
    }
}
