@import './sidebar';
@import './topbar';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wec-company-layout,
.wec-normal-layout {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .main {
        background-color: #f6f6f6;
        margin-top: 48px;
        height: 100%;
        overflow: auto;
        padding-bottom: 48px;
    }
}

.wec-company-layout {

    .main {
        margin-left: 0;
        transition: margin .3s;
    }
}

@media screen and (min-width: 60rem) {
    .wec-company-layout,
    .wec-normal-layout {

        .main {
            margin-top: 56px;
            padding: 16px 16px 56px;
        }
    }

    .wec-company-layout {

        .main {
            margin-left: 200px;
        }
    }
}
